<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>El Presidente</title>
    <link rel="stylesheet" href="public/css/style.css">
    <script src="node_modules/chart.js/dist/Chart.js" charset="utf-8"></script>
    <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="public/js/socket.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>El presidente !!!</h1>
    <canvas id="myChart" width="400" height="100"></canvas>
    <script type="text/javascript">
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Macron", "Fillon"],
          datasets: [{
              label: '# of Votes',
              data: [0,0,10],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
    });
    </script>
  </body>
</html>
